.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app__body{
  
  display: flex;
  background-color: #ededed;
  margin-top: 10px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.chat__message{
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chat__timestamp{
  margin-left: 10px;
  font-size: xx-small;
}

.chat__name{
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}